@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;669;700;800;900&display=swap');

body {
    position: relative;
    font-family: Roboto;
    overflow: hidden;
    display: none;
    top: 0;
}

/*
.radio {
 background-image: url("../img/radio.png");
 background-repeat: no-repeat;
 background-size: auto;
 background-attachment: fixed;

}
*/

input:focus{
  outline: 0;
}

#submit {
    background: rgba(0, 0, 0, 0);
    color: black; 
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    padding: 10px 0px; 
    margin-left: 18px;
    cursor: pointer;
    width: 80px;
    height: 15px;
    line-height: 0px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
    outline: none;
}

#submit:hover {
  background: rgba(0, 0, 0, 0.1);
  color: black; 
  font-family: 'Orbitron', sans-serif;
  font-size: 11px;
  padding: 10px 0px; 
  margin-left: 18px;
  cursor: pointer;
  width: 80px;
  height: 15px;
  line-height: 0px;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
  outline: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

#radio {
  width: 367px;
  height: 455px;
  right: 0;
  bottom: 0;
  position: fixed;
}


#onoff {
  position: absolute;
  top: 28%;
  right: 40%;
  padding: 25px 25px;
  opacity: 0;
}

.onoff button {
 padding: 25px 25px;

 opacity: 0;
}

#sesac {
  position: absolute;
  top: 87%;
  right: 69%;
  padding: 10px 10px;
  opacity: 0;
}

.sesac button {
 padding: 25px 25px;
 opacity: 0;
}

#seskis {
  position: absolute;
  top: 87%;
  right: 47%;
  padding: 10px 10px;
  opacity: 0;
}

.seskis button {
 padding: 25px 25px;
 opacity: 0;
}

.ekran {
  position: absolute;
  background-color: transparent;
  padding: 95px 90px;
  top: 51%;
  left: 14%;
}

.channel {
  position: absolute;
  top: 15%;
  left: 5%;
}

.channel span {
  text-align: center;
}

.channel input {
  text-align: center;
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding: 15px 10px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
}